# MySQL
MYSQL_ROOT_PASSWORD=root123
MYSQL_DATABASE=portfolio
MYSQL_USER=portfolio_user
MYSQL_PASSWORD=portfolio_password
MYSQL_PORT=3306

# App
APP_PORT=8090
SERVER_PORT=8085
APP_URL=10.9.67.63:8090

# Finnhub
FINNHUB_API_KEY=
FINNHUB_BASE_URL=https://finnhub.io/api/v1
FINNHUB_WEBSOCKET_URL=wss://ws.finnhub.io


